#ProfilePic {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

/* Accordion CSS */
.accordion {
    background-color: gray;
    color: rgb(253, 253, 253);
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 5px;
    text-align: center;
    outline: 1px;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion:hover {
  border: solid 5px rgb(119, 119, 119);
  
  }
  
  .panel {
    padding: 0 18px;
    background-color: lightgray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }